#header {
  border-bottom: 1px solid var(--accent-9);
}

#navbar {
  padding: var(--space-5) 0;
  a {
    padding: var(--space-1) var(--space-4);
  }
}

#footer {
  background-color: var(--amber-10);
  padding: var(--space-5)
}

#blog-post {
  p {
    margin: var(--space-3) 0;
  }
}

.post-preview {
  padding: var(--space-3);
  min-height: 300px;
}