@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

#header-wrapper {
  border-bottom: 1px solid var(--accent-7);
  box-shadow: var(--shadow-3);
}

#navbar {
  padding: var(--space-5) 0;
  a {
    padding: var(--space-1) var(--space-4);
  }
}

#footer {
  background-color: var(--amber-9);
  border-top: 1px solid var(--gray-12);
  padding: var(--space-5);
}

#blog-post {
  p {
    margin: var(--space-3) 0;
  }
}

#logo {
  height: 100px;
  width: 100px;
}

#event {
  background-color: var(--amber-9);
}

.post-preview {
  padding: var(--space-3);
  min-height: 300px;
}

.link {
  color: var(--gray-12)
}